# django
django==4.1.13
django-cors-headers
pytz
django-session-timeout==0.1.0

# Crawler
beautifulsoup4
lxml
requests
selenium

# mongodb
djongo == 1.3.6

# API
graphene-django
graphene_mongo
pymongo == 3.12.1

# Img To Text
pytesseract

# FTP
pyftpdlib

# chatGPT
openai==0.28

# instagrapi: instagram post feature
instagrapi==2.1.1