# django
django==4.1.13
django-cors-headers
django-mongoengine


pytz

# Crawler
beautifulsoup4
lxml
requests
selenium

# mongodb
djongo==1.3.6
mongoengine==0.27.0

# API
graphene-django
graphene_mongo
pymongo==3.12.3

# Img To Text
pytesseract

# FTP
pyftpdlib

# chatGPT
openai==0.28

# instagrapi: instagram post feature
instagrapi==2.1.1