aniso8601
asgiref
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
colorama
distlib
Django
django-cors-headers
django-mongoengine
djongo
dnspython
filelock
graphene
graphene-django
graphene-mongo
graphql-core
graphql-relay
h11
idna
lxml
mongoengine
outcome
packaging
pillow
pip
pipenv
platformdirs
promise
pycparser
pyftpdlib
PySocks
pytesseract
pytz
requests
selenium
setuptools
singledispatch
six
sniffio
sortedcontainers
soupsieve
sqlparse
text-unidecode
trio
trio-websocket
tzdata
urllib3
virtualenv
virtualenvwrapper-win
wsproto
