name: Django CI

on:
  push:
    branches: [ "test/ci" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.9]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
   
    # docker image 빌드
    - name: Build docker image
      run: docker build -t hwanju1596/kingwangjjang:0.0.1 ./kingwangjjang

    # docker hub 로그인
    - name: Login docker hub
      uses: docker/login-action@master
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # docker hub 퍼블리시
    - name: Publish to docker hub
      run: docker push hwanju1596/kingwangjjang:0.0.1
  run:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.9]

    steps:
    # WAS 인스턴스 접속 & 애플리케이션 실행
    - name: Connect to WAS & Execute Application
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.WAS_HOST }}
        username: ${{ secrets.WAS_USERNAME }}
        key: ${{secrets.SSH_KEY}}
        port: ${{ secrets.WAS_SSH_PORT }}
        script: |
          docker stop kingwangjjang_container || true
          docker rm kingwangjjang_container || true
          docker pull hwanju1596/kingwangjjang:0.0.1
          docker run -d -p 8000:8000 --name kingwangjjang_container hwanju1596/kingwangjjang:0.0.1
